/* ----------------------- SHAPE 8 ----------------------- */

.shape-8 {
    background: #998235;
}

.shape-8 div:nth-child(2) {
    width: 8rem;
    height: 8rem;
    background: #1a4341;
    border-radius: 50%;
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.shape-8 div:nth-child(2) span {
    width: 2rem;
    height: 2rem;
    background: #1a4341;
    border-radius: 50%;
    border: 0.5rem solid #998235;
}



.shape-8 div:nth-child(2)::before {
    /* this is the green line above the eyes */
    content: "";
    width: 80%;
    height: 1.2rem;
    background: #1a4341;
    position: absolute;
    top: 35%;

}

.shape-8 div:nth-child(2)::after {
    /* this is the green line below the eyes */
    content: "";
    width: 3.5rem;
    height: 3.5rem;
    position: absolute;
    bottom: -3rem;
    border-radius: 50%;
    border: 0.8rem solid transparent;
    border-top-color: white;
    border-left-color: white;
    transform: rotate(45deg);
}

.shape-8 div:nth-child(1),
.shape-8 div:nth-child(3) {
    content: "";
    position: relative;
    width: 3rem;
    height: 8rem;
    background: #1a4341;
    border-radius: 50%;
}


.shape-8 div:nth-child(1)::before,
.shape-8 div:nth-child(3)::before {
    content: "";
    width: 82%;
    height: 100%;
    background: #0b2429;
    border-radius: 50%;
    position: absolute;
    right: 0;
}

.shape-8 div:nth-child(3)::before {
    left: 0;
}

.shape-8::before {
    content: "";
    width: 1.7rem;
    height: 42%;
    background: #0b2429;
    position: absolute;
    bottom: 0;
    z-index:  3;
    border-radius: 2rem 2rem 0 0;
}